html, body{
	height: 100%;
}
html{
	position: relative;
	min-height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 20px;

	font-weight: normal;
	color: #666;

	-webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* ------- bootstrap */
    .container{
        max-width: 1440px;
    }
    .space{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .space.hundred{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .space.seventy{
        padding-top: 70px;
        padding-bottom: 70px;
    }
/* ------------------------ */


/* ------- padding-top */
    .padding-top-150{
        padding-top: 150px;
    }
    .padding-top-100{
        padding-top: 100px;
    }
    .padding-top-70{
        padding-top: 70px;
    }
    .padding-top-60{
        padding-top: 60px;
    }
    .padding-top-50{
        padding-top: 50px;
    }
	.padding-top-40{
		padding-top: 40px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
	.padding-top-25{
		padding-top: 25px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-10{
		padding-top: 10px;
	}
/* ------------------------ */


/* ------- padding-bottom */
    .padding-bottom-150{
        padding-bottom: 150px;
    }
    .padding-bottom-100{
        padding-bottom: 100px;
    }
    .padding-bottom-70{
        padding-bottom: 70px;
    }
    .padding-bottom-60{
        padding-bottom: 60px;
    }
    .padding-bottom-50{
        padding-bottom: 50px;
    }
	.padding-bottom-40{
		padding-bottom: 40px;
	}
	.padding-bottom-30{
		padding-bottom: 30px;
	}
	.padding-bottom-25{
		padding-bottom: 25px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-bottom-10{
		padding-bottom: 10px;
	}
/* ------------------------ */


/* ------- padding-left */
    .padding-left-150{
        padding-left: 150px;
    }
	.padding-left-120{
		padding-left: 120px;
	}
    .padding-left-100{
        padding-left: 100px;
    }
    .padding-left-70{
        padding-left: 70px;
    }
    .padding-left-60{
        padding-left: 60px;
    }
    .padding-left-50{
        padding-left: 50px;
    }
	.padding-left-40{
        padding-left: 40px;
    }
	.padding-left-30{
		padding-left: 30px;
	}
	.padding-left-20{
		padding-left: 20px;
	}
	.padding-left-10{
		padding-left: 10px;
	}
/* ------------------------ */


/* ------- padding-right */
    .padding-right-150{
        padding-right : 150px;
    }
    .padding-right-100{
        padding-right: 100px;
    }
    .padding-right-70{
        padding-right: 70px;
    }
    .padding-right-60{
        padding-right: 60px;
    }
    .padding-right-50{
        padding-right: 50px;
    }
	.padding-right-40{
        padding-right: 40px;
    }
	.padding-right-30{
		padding-right: 30px;
	}
	.padding-right-20{
		padding-right: 20px;
	}
	.padding-right-10{
		padding-right: 10px;
	}

/* ------------------------ */


/* ------- margin-top */
    .margin-top-10{
        margin-top: 10px;
    }
    .margin-top-15{
        margin-top: 15px;
    }
    .margin-top-20{
        margin-top: 20px;
    }
    .margin-top-25{
        margin-top: 25px;
    }
    .margin-top-30{
        margin-top: 30px;
    }
    .margin-top-40{
        margin-top: 40px;
    }
    .margin-top-50{
        margin-top: 50px;
    }
/* ------------------------ */


/* ------- margin-bottom */
    .margin-bottom-10{
        margin-bottom: 10px;
    }
    .margin-bottom-15{
        margin-bottom: 15px;
    }
    .margin-bottom-20{
        margin-bottom: 20px;
    }
    .margin-bottom-25{
        margin-bottom: 25px;
    }
    .margin-bottom-30{
        margin-bottom: 30px;
    }
    .margin-bottom-40{
        margin-bottom: 40px;
    }
    .margin-bottom-50{
        margin-bottom: 50px;
    }
    .margin-bottom-70{
        margin-bottom: 70px;
    }
    .margin-bottom-100{
        margin-bottom: 100px;
    }
	.margin-bottom-150{
        margin-bottom: 150px;
    }
/* ------------------------ */


/* ------- margin-left */
    .margin-left-10{
        margin-left: 10px;
    }
    .margin-left-15{
        margin-left: 15px;
    }
    .margin-left-20{
        margin-left: 20px;
    }
    .margin-left-25{
        margin-left: 25px;
    }
    .margin-left-30{
        margin-left: 30px;
    }
    .margin-left-40{
        margin-left: 40px;
    }
    .margin-left-50{
        margin-left: 50px;
    }
	.margin-left-70{
		margin-left: 70px;
	}
	.margin-left-100{
        margin-left: 100px;
    }
	.margin-left-150{
        margin-left: 150px;
    }
/* ------------------------ */


/* ------- margin-bottom */
    .margin-right-10{
        margin-right: 10px;
    }
    .margin-right-15{
        margin-right: 15px;
    }
    .margin-right-20{
        margin-right: 20px;
    }
    .margin-right-25{
        margin-right: 25px;
    }
    .margin-right-30{
        margin-right: 30px;
    }
    .margin-right-40{
        margin-right: 40px;
    }
    .margin-right-50{
        margin-right: 50px;
    }
	.margin-right-70{
		margin-right: 70px;
	}
/* ------------------------ */


/* ------- borders */
    .border-top{
        border-top: 1px solid #cdcbcb;
    }
    .border-bottom{
        border-bottom: 1px solid #cdcbcb;
    }
    .border-left{
        border-left: 1px solid #cdcbcb;
    }
    .border-right{
        border-right: 1px solid #cdcbcb;
    }
/* ------------------------ */


/* ------- space */
	.max-width-250{
		max-width: 250px;
	}
    .max-width-300{
        max-width: 300px;
    }
    .max-width-350{
        max-width: 350px;
    }
	.max-width-450{
		max-width: 450px;
	}
	.max-width-500{
		max-width: 500px;
	}
	.max-width-600{
		max-width: 600px;
	}
	.max-width-700{
		max-width: 700px;
	}
	.max-width-1200{
		max-width: 1200px;
	}
/* ------------------------ */

/* ------- font-sizes-weights / margins / line-heights */
h1, h2, h3, h4, h5, p, a {
    margin: 0px;
}

h1, h2, h3, h4, h5{
    font-family: 'Oswald';
    color: #1f1f1f;
}
h1{
    font-size: 72px;
    line-height: 84px;

    font-weight: 700;
}
h2{
    font-size: 48px;
    line-height: 54px;

    font-weight: 700;
}
h3{
    font-size: 36px;
    line-height: 42px;

    font-weight: 700;
}
h4{
    font-size: 24px;
    line-height: 30px;

    font-weight: 700;
}
h5{
    font-size: 18px;
    line-height: 24px;

    font-weight: normal;
}
p{
    font-size: 14px;
    font-weight: 400;
}
a, a:hover{
    text-decoration: none;
}
/* ------------------------ */

/* ------- button styles */
button:focus{
    outline: none;
}
.button{
    width: 220px;
    height: 50px;

    color: white;

    background: #e4381c; /* Old browsers */
    background: -moz-linear-gradient(left,  #e4381c 0%, #e16521 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #e4381c 0%,#e16521 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #e4381c 0%,#e16521 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4381c', endColorstr='#e16521',GradientType=1 ); /* IE6-9 */

    border: none;
    outline: none;

    border-radius: 10px;

    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;


    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    transition: ease 0.4s;

}
.button:hover{
    box-shadow: inset 250px 0 0 0 #f26118;
}
.button:focus{
    outline: none;
}

    /* ------- small buttons / used for price choice */
    .choice-button{
        width: 180px;
        height: 50px;

        border-radius: 99px;
    }
    /* ------ */

/* ------------------------ */







/* ------- backgrounds */
.background-gray{
    background: #f5f5f5;
}
.background-dark{
    background: #1f1f1f;
}
.background-green{
    background: url("../img/background-green.jpg");
    background-size: cover;
}
/* ------------------------ */

/* ------- font-colors */
.color-green{
    color: #B0E229;
}
.color-dark{
    color: #1f1f1f;
}
.color-white{
    color: white;
}
.color-red{
    color: #E4381C;
}
/* ------------------------ */



/* ------- preloader */

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}
/* ------------------------ */


/* ------- header */
header{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 30px 100px;
}
.logo{
    height: 80px;
}
.logo:hover{
    transition: 0.3s ease;
    filter: brightness(90%);
}
.top-social a{
    font-size: 24px;
    color: white;
    padding: 0px 5px;
}
.top-social a:hover{
    transition: 0.3s ease;
    color: #cdcbcb;
}
/* ------------------------ */


/* ------- slider */
.hero-items .owl-item.active .single-hero-item .hero-text h3,
.hero-items .owl-item.active .single-hero-item .hero-text h1,
.hero-items .owl-item.active .single-hero-item .hero-text .button-appear {
    top: 0;
    opacity: 1;
}
.hero-items .owl-item.active .single-hero-item .hero-text h3{
    -webkit-transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
    transition: all 0.2s ease 0.2s;
}
.hero-items .owl-item.active .single-hero-item .hero-text h1 {
    -webkit-transition: all 0.4s ease 0.4s;
    -o-transition: all 0.4s ease 0.4s;
    transition: all 0.4s ease 0.4s;
}
.hero-items .owl-item.active .single-hero-item .hero-text .button-appear {
    -webkit-transition: all 0.6s ease 0.6s;
    -o-transition: all 0.6s ease 0.6s;
    transition: all 0.6s ease 0.6s;
}
.hero-items .owl-nav button[type=button] {
    position: absolute;
    left: 25px;
    top: 50%;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    line-height: 30px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.55);
}
.hero-items .owl-nav button[type=button]:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.3s ease;
}
.hero-items .owl-nav button[type=button].owl-next {
    left: auto;
    right: 25px;
}
.hero-items .owl-dots {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.hero-items .owl-dots button.owl-dot {
    height: 3px;
    width: 24px;
    background: rgba(255, 255, 255, 0.35);
    margin-right: 10px;
    position: relative;

    outline: none;
}
.hero-items .owl-dots button.owl-dot.active {
    height: 5px;
    background: rgba(255, 255, 255, 1);
}
.hero-items .owl-dots button.owl-dot:last-child {
    margin-right: 0;
}
.single-hero-item {
    height: 800px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.single-hero-item .hero-text {
    text-align: center;
}
.hero-text h1, .hero-text h3{
    color: white;
}
.single-hero-item .hero-text h3 {
    color: #ffffff;
    text-transform: uppercase;

    font-size: 64px;
    line-height: 72px;

    font-weight: 300;


    margin-bottom: 4px;
    position: relative;
    top: 50px;
    opacity: 0;
}
.single-hero-item .hero-text h1 {
    color: #ffffff;
    font-size: 84px;
    line-height: 90px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 46px;
    position: relative;
    top: 50px;
    opacity: 0;
}
.single-hero-item .hero-text .button-appear {
    position: relative;
    top: 50px;
    opacity: 0;
}
/* ------------------------ */


/* ------- two images (tired block) */
.double-image {
    position: relative;
    top: 0;
    left: 0;
}
.image-block-1 {
    position: relative;
    height: 250px;

    top: 0;
    left: 0;

    box-shadow: 10px 15px 15px  rgba(0,0,0,0.2);


}
.image-block-2 {
    position: absolute;
    height: 250px;

    top: 100px;
    left: 100px;

    box-shadow: 10px 15px 15px  rgba(0,0,0,0.2);
}
/* ------------------------ */


/* ------- prices -tabs */
.nav-tabs .nav-link.active .choice-button{
    background: white;
    border: 2px solid #E16521;

    color: #E16521;
}
.nav-tabs .nav-link.active .choice-button:hover{
    color: white;
}

.nav-tabs{
    border: none;
}
.nav-tabs .nav-link{
    border: none;
    padding: 0 10px;
}

.tab-pane.active .row .price-block:nth-child(1){
    -webkit-animation: slide-down 1s ease;
    animation-fill-mode: forwards;
}
.tab-pane.active .row .price-block:nth-child(2){
    -webkit-animation: slide-up 1s ease;
    animation-fill-mode: forwards;
}
.tab-pane.active .row .price-block:nth-child(3){
    -webkit-animation: slide-down 1.5s ease;
    animation-fill-mode: forwards;
}
/* ------------------------ */


/* ------- prices -block */
.price-block{
    width: 30%;
    background: #f5f5f5;

    padding: 50px 50px 70px 50px;
}
p.requirements{
    font-size: 14px;
    line-height: 18px;

    font-weight: 400;

    color: rgba(255, 255, 255, 0.7);

    margin: 15px 0px 20px 0px;
}
.favourite.price-block{
    background: #1F90E3;
}

.price-block table{
    width: 100%;
}
.price-block table tr th{
    background: white;

    padding: 0px 25px;
    padding-top: 15px;

    font-weight: 400;
    color: #999;

    font-size: 14px;
    line-height: 20px;
}
.price-block table tr td{
    background: white;
    border-bottom: 1px solid #cdcbcb;

    padding: 0px 25px;
    padding-bottom: 15px;

    font-size: 16px;
    line-height: 24px;

    font-family: 'Oswald';
    font-weight: 400;

    color: #1f1f1f;

}
.price-block.favourite h4{
    color: white;
}
.price-block.favourite table tr th{
    background: #37A8FC;
    color: rgba(255, 255, 255, 0.7);
}
.price-block.favourite table tr td{
    border-bottom: 1px solid #61BBFF;
    background: #37A8FC;

    color: white;
}
@keyframes slide-up {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes slide-down {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* ------------------------ */


/* ------- why-we -block */
.why-we-icon{
    margin-right: 30px;
}
.row.why-we.margin{
    margin-bottom: 100px;
}
/* ------------------------ */


/* ------- contacts -block */
.map{
    width: 100%;
    height: 700px;
}
.contacts-block{
    position: absolute;
    width: 600px;

    padding: 70px;

    background: #fff;

    margin-top: 70px;
    right: 100px;

    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
}
.working-time{
    color: #1f1f1f;
    line-height: 20px;
}
.working-time b{
    font-size: 14px;
    font-family: 'Oswald';
    font-weight: 500;

    margin-right: 10px;
}
input[type="text"]{

    border: none;
    outline: none;

    padding: 10px 20px;

    border-radius: 10px;
    border-bottom: 1px solid #cdcbcb;
    border-top: 1px solid #cdcbcb;

    width: 100% ;
    font-size: 14px;
}
input[type="text"]:hover, input[type="text"]:focus,
textarea:hover, textarea:focus {
    border-bottom: 1px solid #bfbdbd;
    border-top: 1px solid #bfbdbd;
    transition: 0.3s ease;
}
textarea{
    border: none;
    outline: none;

    padding: 10px 20px;

    border-radius: 10px;
    border-bottom: 1px solid #cdcbcb;
    border-top: 1px solid #cdcbcb;

    resize: none;
    width: 100%;
    height: 100px;
}
/* ------------------------ */


/* ------- footer */
footer{
    background: #1f1f1f;
}
footer h4{
    margin-bottom: 30px;
}
footer .footer-social{
    margin-top: 15px;
}
footer .footer-social a{
    color: white;
    font-size: 18px;
    padding-right: 10px;
}
footer .footer-social a:hover{
    transition: 0.3s ease;
    color: #cdcbcb;
}

footer .event-block{
    margin-bottom: 20px;
}
footer .event-block h5{
    color: white;

    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
}
footer .event-block p{
    margin-left: 5px;
    color: #808080;

    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}
footer .event-block:hover h5{
    color: #cdcbcb;
    transition: 0.3s ease;
}
footer .event-block:hover p {
    color: #666;
    transition: 0.3s ease;
}


footer .contact-block .contact{
    margin-left: 20px;
}
footer .contact-block .contact h5{
    color: white;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    font-weight: 500;

    margin-bottom: 5px;
}
footer .contact-block .contact a{
    margin-top: 5px;
    color: #808080;
}

footer .contact-block .contact a:hover {
    color: #cdcbcb;
    transition: 0.3s ease;
}
footer .contact-block{
    margin-bottom: 20px;
}

ul.navbar-nav > li.nav-item{
    padding: 0px;
}
ul.navbar-nav > li.nav-item > a.nav-link{
    color: white;

    font-size: 14px;
    line-height: 28px;


    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;

    padding: 0;

}
ul.navbar-nav > li.nav-item > a.nav-link:hover {
    transition: 0.3s ease;
    color: #cdcbcb;
}
/* ------------------------ */


/* ------- services grid + blocks + animations */
.grid {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;

    margin: 0px 10px;
    width: 380px;
    height: 240px;

    background: #3085a3;
    text-align: center;
    cursor: pointer;

    margin-bottom: 30px
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h3 {
    font-weight: 500;
}
.grid figure h3,
.grid figure p {
    margin: 0;
    color: #fff;
}

  /*------------------------------*/
 /***** services animations *****/
/*----------------------------*/

figure.service:nth-child(1) {
    background: #5ECD06;
}
figure.service:nth-child(2) {
    background: #37A8FC;
}
figure.service:nth-child(3) {
    background: #9e5406;
}
figure.service:nth-child(4) {
    background: #0C9A09;
}
figure.service:nth-child(5) {
    background: #C87013;
}
figure.service:nth-child(6) {
    background: #3F90CB;
}

figure.service img {
    opacity: 0.85;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.service:hover img {
    opacity: 0.4;
}

figure.service figcaption::before,
figure.service figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.service figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.service figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.service h3 {
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0,100px,0);

    text-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

figure.service p {
    margin-top: 10px;
    padding: 0px 60px;
    opacity: 0;
    -webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
    transition: opacity 0.75s, transform 0.75s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.service:hover figcaption::before,
figure.service:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.service:hover h3,
figure.service:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/* ------------------------ */


/* ------- events grid + blocks + animations */
.event-grid {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    text-align: center;
}

/* Common style */
.event-grid figure {
    position: relative;
    overflow: hidden;

    margin: 0px 10px;
    width: 380px;
    height: 240px;

    background: #3085a3;
    text-align: center;
    cursor: pointer;

    margin-bottom: 30px
}
.event-grid figure.small{
    height: 260px;
}

.event-grid figure.mid{
    height: 340px;
}
.event-grid figure.big{
    height: 420px;
}

.event-grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    object-fit: cover;
}

.event-grid figure figcaption::before,
.event-grid figure figcaption::after {
    pointer-events: none;
}

.event-grid figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0px 50px;
}
.event-grid figure figcaption .event-title{
    position: absolute;

    bottom: 50px;
    left: 0px;

    padding: 0px 50px;

    text-align: left;
}
.event-grid figure figcaption .event-title h4{
    color: white;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.event-grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.event-grid figure h4 {
    font-weight: 500;
}
.event-grid figure h3,
.event-grid figure p {
    margin: 0;
    color: #fff;
}

/*------------------------------*/
/***** event animations *****/
/*----------------------------*/
figure.event.small {
    background: #5ECD06;
}
figure.event.mid {
    background: #37A8FC;
}
figure.event.big {
    background: #C87013;
}
figure.event img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.event:hover img {
    opacity: 0.4;
}

figure.event figcaption::before,
figure.event figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.event figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.event figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.event h4 {
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform: translate3d(0,70px,0);
    transform: translate3d(0,70px,0);

    text-shadow: 0px 2px 2px rgba(0,0,0,0.25);

    bottom: 0;
}

figure.event p {
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
    transition: opacity 0.75s, transform 0.75s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
figure.event p.event-description{
    transform: scale(0);
    transition: 0.3s ease;
}
figure.event:hover p.event-description{
    position: relative;
    transform: scale(1);
}
figure.event:hover figcaption::before,
figure.event:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.event:hover h4,
figure.event:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/* ------------------------ */
