@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }
    .force-padding{
        padding-left: 40px;
        padding-right: 40px;
    }
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }

    .space {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .space.hundred {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .space.seventy {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    /* font */
    h1 {
        font-size: 48px;
        line-height: 56px;
    }

    h2 {
        font-size: 36px;
        line-height: 42px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-size: 18px;
        line-height: 24px;
    }

    h5 {
        font-size: 14px;
        line-height: 18px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }


    /* header */
    header {
        padding: 40px 40px;
    }


    /* slider */
    .single-hero-item {
        height: 75vh;
        min-height: 500px;
    }

    .single-hero-item .hero-text h1 {
        font-size: 72px;
        line-height: 84px;
    }

    .single-hero-item .hero-text h3 {
        font-size: 48px;
        line-height: 56px;

        font-weight: 300;
    }

    .hero-items .owl-nav button[type=button] {
        display: none;
    }



    .grid figure {
        margin: 0 2%;
        width: 46%;
        height: 250px;

        margin-bottom: 30px;
    }

    .grid figure img{
        width: 100%;
        object-fit: contain;
    }

    .double-image {
        margin-top: 0px;
    }

    .image-block-1 {
        height: auto;
        width: 100%;
    }
    .image-block-2 {
        height: auto;
        width: 90%;

        top: 120px;
        left: 50px;
    }


    .choice-button{
        margin-bottom: 15px;
    }

    .price-block{
        padding: 50px 30px;

        margin: 0 10px;
        margin-bottom: 50px;
    }
    .price-block table tr th{
        padding: 0px 20px;
        padding-top: 15px;

        font-size: 12px;
        line-height: 14px;
    }
    .price-block table tr td{
        padding: 0px 20px;
        padding-bottom: 15px;

        font-size: 14px;
        line-height: 18px;
    }

    .row.why-we{
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .row.why-we.margin{
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .row.why-we .col-md-4{
        margin-bottom: 40px;
    }
    .row.why-we .span{
        margin-bottom: 20px;
    }


    .video-block{
        padding: 0px 50px;
    }



    .event-grid {
        max-width: 990px;
    }
    .event-grid figure {
        width: 310px;
        margin: 0px 10px;

        margin-bottom: 20px;
    }

    figure.event h4 {
        -webkit-transform: translate3d(-20px,100px,0);
        transform: translate3d(-20px,100px,0);
    }

    .map{
        height: 600px;
    }
    .contacts-block{
        position: absolute;
        width: 450px;

        padding: 50px;

        background: #fff;

        margin-top: 40px;
        left: 40px;

        box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
    }
    footer .col-md-6{
        margin-bottom: 70px;
    }
    footer .col-md-6:nth-child(3),
    footer .col-md-6:nth-child(4)
    {
        margin-bottom: 0px;
    }
}